.main {
  background-color: #fefefe;
  font-family: monsterrat;
}

.camera {
  width: 504px;
  height: 325px;
  background: rgba(196, 196, 196, 0.51);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.game {
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  display: inline-block;
  width: 40px;
}

.score {
  font-size: 32px;
}

.description,
.nav_btn_go {
  font-family: montserrat;
  display: flex;
  align-items: center;
}

.nav_btn_back img {
  height: 20px;
  width: 55px;
}

.texttt {
  font-family: montserrat;
  font-size: 30px;
  margin: 300px 0 300px 0;
}

.texttt span {
  font-size: 35px;
  color: rosybrown;
}
